<h1 class="title">About The Recipe Warriors Crew!</h1>

<section>
    <h2 class="a">Blake Georgii</h2>
        <div>
            <img src="">
        </div>

</section>
<section> 
    <h2> Matthew Foster </h2>

</section>
<section>
    <h2>Adilene Rodriguez Bejines</h2>
</section>


