<h1 class="title">About The Recipe Warriors Crew!</h1>

<section>
    <h2 class="name">Blake Georgii</h2>
        <div class="bio-section">
            <img src="images/blake.png" alt="cool guy with sunglasses" style="width: 500px;height:500px;">
            <p class="bio-info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae odio consequuntur nulla, placeat at cumque ea, minus magni illum eos maxime, sint veniam laboriosam aut nihil hic est tempora obcaecati?
            </p>
        </div>

</section>
<section> 
    <h2 class="name"> Matthew Foster </h2>
        <div class="bio-section">
            <img src="images/Matt.jpg" alt="cool guy smiling at the park" style="width: 500px;height:600px;">
            <p class="bio-info">
                I am Matt Foster and my favorite types of food are Mexican and Italian. I am currently a 5th grade teacher.  I am finishing up a coding bootcamp so one day I can become a full stack developer.
            </p>
        </div>

</section>
<section>
    <h2 class="name">Adilene Rodriguez Bejines</h2>
        <div class="bio-section">
            <img src="images/profile.jpg" alt="cool woman eating a burger" style="width: 500px;height:500px;">
            <p class="bio-info">
              Hi! I go by Addy and my favorite food is katsudon, a Japanese dish. I currenly work at Deer Valley School District but working towards becoming a full stack developer. During my free time, if I have any, I like to relax by playing some games or playing with my dog.  
            </p>
        </div>
</section>


