<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
{{!-- <link rel="stylesheet" href="/raty/jquery.raty.css"> --}}

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add review</button>
    {{!-- <button type="button" class="upvote-btn">upvote</button> --}}

    {{!-- <div >
        <div class="solid-stars" data-id="432" data-score="1"></div>
    </div> --}}
    
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{!-- <script src="/javascript/upvote.js"></script> --}}

{{/if}}

{{!-- <script src="/raty/jquery.raty.js"></script>
<script src="/javascript/stars.js"></script> --}}






