* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arima Madurai', cursive;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #333;
  background: 
  radial-gradient(black 3px, transparent 4px),
  radial-gradient(black 3px, transparent 4px),
  linear-gradient(#fff 4px, transparent 0),
  linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
  linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.post {
  background-color: rgb(211, 211, 211, 0.7);
}

a {
  text-decoration: none;
  color: #B48E92;
  font-size:2em;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #280137;
}
/*
button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}
*/
button {
font-family: 'Arima Madurai', cursive;
font-family: 'Playfair Display', serif;
font-weight: 700;
outline: 0;
grid-gap: 8px;
align-items: center;
background-color: #B48E92;
color: #000;
border: 1px solid #000;
border-radius: 6px;
cursor: pointer;
display: inline-flex;
flex-shrink: 0;
font-size: 18px;
gap: 8px;
justify-content: center;
line-height: 1.5;
overflow: hidden;
padding: 12px 16px;
text-decoration: none;
text-overflow: ellipsis;
transition: all .14s ease-out;
white-space: nowrap;
}
button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}
button:focus-visible{
    outline-offset: 1px;
}


.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: rgb(0,0,139, 0.1);
  width: 100%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}
/*
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}
*/

.btn-no-style {
  font-family: 'Arima Madurai', cursive;
  font-family: 'Playfair Display', serif;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #B48E92;
  color: #000;
  border: 1px solid #280137;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 10px 24px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  
  }
  button:hover {
      box-shadow: 4px 4px 0 #280137;
      transform: translate(-4px,-4px);
  }
  button:focus-visible{
      outline-offset: 1px;
  }

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}